
flask                               
transformers                        # Biblioteka do modeli NLP (np. BERT, GPT)
torch                               # PyTorch (jako backend dla Transformers)
keybert                             # Biblioteka do ekstrakcji słów kluczowych
sentence-transformers               # Wymagana przez KeyBERT do modeli SBERT (np. p araphrase-multilingual-MiniLM-L12-v2)

# --- Pakiety dla modułu Scrapującego ---
scrapy                              # Framework do zaawansowanego scrapowania
requests                            # Do ewentualnego testowania lub prostego pobierania URL-i
beautifulsoup4                      # Do parsowania HTML (jeśli Scrapy korzysta z oddzielnej logiki parsowania)

# --- Pakiety bazodanowe i narzędziowe ---
# sqlite3 jest wbudowany w Pythona, ale jeśli używasz np. PostgreSQL, dodaj:
# psycopg2-binary